.main-container{
  width: 82vw;
  /* border: 1px solid black; */
  /* height: 100vh; */
  margin: 0 9vw 0 9vw;
  background-color: #fafafa;
  position: fixed;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  /* height: 100vh; */
}
::-webkit-scrollbar {
  display: none;
}
