.cat_b{
    /* border: 2px solid black; */
    width: 67vw;
    margin-top: 3rem;
    position: relative;
    left: 6.5rem;
}

.instagram_b{
    height: 1.2rem;
    margin-right: 1rem;
} 
.image_title{
    font-weight: bold;
    /* margin-left:1rem; */
    text-transform: capitalize;
    font-size: 0.8rem;
}
.table th{
    padding: 0 0 0 0;
    font-size: 0.8rem;
    color: #a8a7a7;
    background-color: white;
    padding: 0.5rem 0 0.5rem 0;
}
.table th p{
    font-size: 0.5rem;
    margin: 0 0 0 0;
}
.table{
    width: 100%;
}
.edit{
    float: right;
    position: absolute;
    top: 2rem;
    right: 7rem;
    height: 2.2rem;
    width: 6rem;
    background-color: rgb(98,56,242);
    border: none;
    color: white;
}
.delete{
    float: right;
    position: absolute;
    top: 2rem;
    right: 0;
    height: 2.2rem;
    width: 6rem;
    background-color: rgb(255,255,255);
    border: none;
    color: rgb(255,95,95);
}