.Client_detail{
    position: relative;
    width: 67vw;
    height: 70vh;
    margin: 2rem auto 0 6.5rem;
    padding-top: 0.1rem;
    background-color: white;
    /* border: 2px solid black; */
}
.heading{
    text-align: left;
    border-bottom: 2px solid #dad6d6;
    /* border: 2px solid black; */
    font-weight: bold;
    padding-left: 1rem;
    margin: 2rem 2rem 1rem 2rem;
}
.blocks{
    /* display: flex; */
    width: 93%;
    left: 2rem;
    position: relative;
    /* border: 2px solid black; */
    /* height: 25rem; */
    /* flex-direction: row;
    justify-content: space-between;  */
    /* border: 2px solid black; */
}
.influencer_category{
    height: 3rem;
    width: 24%;
    float: left;
    margin: 2rem 3rem 0 2rem;
    /* border: 2px solid black; */
    background-color: #f3f2f2;
    position: relative;
    /* flex: 1; */
}
.influencer_category .value{
    /* margin: 0rem; */
    font-weight: bold;
}

.influencer_category p{
    margin: 0;
    font-size: 0.8rem;
    padding-left: 1rem;
}
.influencer_category .title{
    position: absolute;
    top: 50%;
    transform: translateY(-100%);
}
.influencer_category .value{
    position: absolute;
    top: 50%;
    transform: translateY(0%);
}
.breif{
    position: relative;
    top: 55%;
    /* border: 2px solid black; */
    height: 5rem;
    background-color: #f1f1f1;
    width: 55vw;
    left: 4rem;
}
.breif .clients_breif{
    /* border: 2px solid black; */
    height: 2rem;
    width: 10rem;
    position: absolute;
    width: 90%;
    top: 0%;
    margin-left: 2rem;
    font-size: 0.9rem;
}

.breif .enter_detail{
    /* border: 2px solid black; */
    height: 2rem;
    width: 10rem;
    position: absolute;
    width: 90%;
    top: 25%;
    margin-left: 2rem;
    font-size: 0.8rem;
    font-weight: bold;
}