.asd{
    /* border: 2px solid black; */
    top: 6rem;
    position: relative;
    background-color: #fafafa;
}
.body-container{
    background-color: rgb(251,250,255);
    /* border: 2px solid black; */
    height: 40vh;
    /* position: relative; */
}
.proposal_date{
    height: 10rem;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}
.date{
    /* border: 1px solid bkc */
    /* width: 15rem; */
    flex: 1;
    width: 22%;
    height:3rem;
    margin: 2rem auto 0 8%;
    float: left;
    position: relative;
    top: 2rem;
    /* left: 6rem; */
    background-color: rgb(241,240,245);
}
#active_entry{
    border-bottom: 1px solid blue;
    height: 2.8rem;
}
.date .value{
    margin: 0 0 0 0;
    font-size: 0.8rem;
    width: 6rem;
    position: absolute;
    left: 1rem;
    top: 1rem;
    transform: translateY(40%);
    font-weight: bold;
    background-color: rgb(241,240,245);

}
.date .header{
    margin: 0 0 0 0;
    background-color: rgb(241,240,245);
    font-size: 0.7rem;
    position: absolute;
    left: 1rem;    
    top: 0.2rem;
}
.date #active{
    margin: 0 0 0 0;
    background-color: rgb(241,240,245);
    font-size: 0.7rem;
    position: absolute;
    left: 1rem;    
    top: 0.2rem;
    color: blue;
}
.add_influencer_detail{
    position: relative;
    /* border: 2px solid black; */
    width: 67vw;
    left: 6.5rem;
    height: 10rem;
}
.add_influencer_detail p{
    font-weight: bold;
    top: 2rem;
    left: 2rem;
    position: absolute;
}
.add_influencer_detail button{
    top: 5rem;
    left: 2rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    position: absolute;
    width: 11rem;
    height: 2.5rem;
    background-color : rgb(98,56,242);
    color: white;
    border: none;
}
.add_influencer_detail a{
    text-decoration: none;
}