.checkbox_e{
    /* border: 2px solid black;
    display: none; */
    margin-top: 1rem;
    margin-left: 7rem;    
}
.disclaimer_container{
    padding-top: 2rem;
    /* border: 2px solid black; */
}
.add{
    color: purple;
    font-weight: bold;
    margin-left: 7rem;
}
.disclaimer_container label{
    margin-left: 1rem;
    color: rgb(111,111,113);
}
.disclaimer_h{
    font-weight: bold;
    margin-left: 7rem;
    font-size: 1rem;
}