
.container{
    background-color: white;
    /* position: fixed; */
    position: fixed;
    z-index: 100;
    width: 100%;
}
.container .logo{
    height: 0.8rem;
    margin-top: 1.3rem;
    margin-left: 1rem;
}
.container #menu{
    color: blue;
    margin-left: 1rem;
    cursor: pointer;
}
.container .toolbar{
    /* border: 1px solid black; */
    margin-top: 1rem;
    /* display: flex; */
    position: relative;
}
.container .toolbar i{
    font-size: 2rem;
    margin-left: 4rem;
}
.container .toolbar p{
    color: black;
    font-weight: bold;
    width: 10rem;
    display: inline-block;
    margin: 0 0 0;
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-60%);
    margin-left: 0.5rem;
}
.container .toolbar .preview{
    height: 2rem; 
    background-color: rgb(2,189,253);
    color: white;
    border: none;
    border-radius: 5px;
    margin: 0 2rem 0 2rem;   
    width: 7rem;
    margin-left: 55vw;
    transform: translateY(-25%);
}

.container .toolbar .save{
    height: 2rem; 
    background-color: rgb(98,56,242);
    color: white;
    border: none;
    border-radius: 5px;   
    width: 7rem; 
    transform: translateY(-25%);
}