.influencer_detail_id{
    width: 81.5%;
    position: relative;
    left: 6.5rem;
    margin-top: 2rem;
}
.influencer_detail_id .heading_id{
    font-weight: bold;
}
.influencer_detail_id .sub_heading_id{
    /* font-weight: bold; */
    font-size: 0.8rem;
}
.checkbox{
    display: flex;
}
.checkbox input{
    flex: 1;
    padding-right: 0.5rem;
    color: royalblue;
    height: 1rem;
    background: rgba(0, 0, 0, 0);
}