.container_menu_menu{
  height: 80vh;
}
.data{
  border: 0.2px solid rgb(230, 229, 229);
  background-color: rgb(254, 254, 255);
  width: 65vw;
  margin-left: 23vw;
  margin-top: 8rem;
  padding-left: 20px;
  height: 80vh;
  overflow: hidden;
  overflow-x: hidden; 
  overflow-y: auto;
}
::-webkit-scrollbar {
  display: none;
}
.add_influencer{
  background-color: rgb(98,56,242);
  color: aliceblue;
  border: none;
  height: 2rem;
  margin: 1rem;
  border-radius: 10%;
  position: relative;
  left: 15rem;
}
.search{
  width: 25rem;
  height: 2.3rem;
  background-color: #fafafa;
  border: none;
  padding: 0 0 0 1rem;
  margin-left: 4rem;
}
.searchbar{
  position: relative;
  /* width: 55vw;
  border: 2px solid black; */
}
.searchbar i{
  position: absolute;
  top: 20%;
  transform: translateY(-50%);
  font-size: 1.2rem;
  /* border: 2px solid black; */
  margin-top: 1rem;
  /* top: 2rem; */
  padding-left: 1.5rem;
}
.import_csv{
  background-color: rgb(2,189,253);
  color: aliceblue;
  border: none;
  height: 2rem;
  margin: 1rem;
  border-radius: 10%;
  position: relative;
  left: 15rem;
}
.filter i{
  color: rgb(103, 103, 248);
  padding: 1rem;
  cursor: pointer;
}
.filter{
  font-size: 1.1rem;
  width: 6rem;
  margin-left: 80%;
}
.searchbar{
  position: absolute;
  left: 23%;
  top: 3.7rem;
  width: 66vw;
  background-color: white;
  border: 0.5px solid #ececec;
}