.main{
    width: 60vw;
    margin: 2rem auto 0 0;
    background-color: rgb(254, 254, 255);
    /* border: 2px solid black; */
    /* position: fixed; */
}
.influencer{
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(247, 247, 247);
    /* max-width: 1200px; */
    width: 55vw;
    margin: 0 auto 0 3rem;
    display: flex;
    align-items: flex-start;
    margin-right: 15vw;
    height: 20vh;
    /* border: 1px solid black; */
    z-index: 2;
}
.detail{
    /* display: inline-block; */
    flex: 1;
    /* border: 2px solid black; */
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
    
}
.channel-img img{
    height: 80px;
    width: 80px;
    border-radius: 10%;
    margin: 0.7rem auto auto 0.7rem;
    /* border: 2px solid black; */
}
.channel-img p{
    margin: 0rem auto auto 1.2rem;
    font-family: 'Source Sans Pro', sans-serif;
    /* border: 2px solid black; */
    width: 80px;
    font-size: 0.7rem;
    text-align: left;
    padding-left: 0;

}
.as{
    font-size: 1rem;
    text-transform: capitalize;
    font-family: 'Source Sans Pro', sans-serif;
}
.detail p{
    margin: 0.4rem auto 0 auto;
    color: rgb(155, 150, 150);
    font-size: 0.7rem;
    font-weight: bold;
    /* border: 2px solid black; */
    font-family: 'Source Sans Pro', sans-serif;
}
.detail h3{
    font-family: 'Source Sans Pro', sans-serif;
    margin-bottom: 0px; 
}
.b1{
    background-color: rgb(203, 242, 255);
    margin: 2rem auto auto auto;
    font-family: 'Source Sans Pro', sans-serif;
    height: 1.2rem;
    text-transform: capitalize;
    font-size: 0.8rem;
    width: 3.5rem;
    margin: 2.1rem 10px 1rem 0;
    border: 0px;
    border-radius: 40px;
    color: rgb(58,203,253);
}
.social{
    margin: 1rem 3rem ;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    /* border:2px solid black; */
    margin: 0 0 auto auto;
}
.social .test{
    display: inline-block;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 1em 0em 0 0;
    width: 3rem;
    /* border:2px solid black; */
}
.test img{
    border-radius: 1px;
    /* border:2px solid black; */
}
.social .test p{
    margin-top: 0px;
    width:100%;
    font-size: 0.8rem;
    color: rgb(189, 189, 189);
    font-family: 'Source Sans Pro', sans-serif;
}
.social .test i{
    font-size: 1em;
}
.social .test img{
    height: 1rem;
}
#checkbox_influencer{
    float: left;
    left: 25%;
    font-size: 1.5rem;
    font-family: 'Source Sans Pro', sans-serif;
    /* position: absolute; */
}
.edit_options{
    margin-top: 0.2rem;
    display: flex;
    width: 54vw;
    margin-left: 3.2vw;
    background-color: rgb(255, 255, 255);
    border: 0.7 solid rgb(247, 247, 247);
    border: 1px solid rgb(247,247,247);
    font-family: 'Source Sans Pro', sans-serif;
    padding: 0.5rem;
}
.influencer-options_influencer,.influencer-origin{
    flex: 1;   
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 0.7rem;
}
.influencer-options_influencer{
    flex: 1;   
    font-size: 0.7rem;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: right;
}
.influencer-origin{
    color: rgb(146,146,146);
}
.influencer-options_influencer button{
    margin-right: 20px;
    width: 3.5rem;
    color: rgb(10, 13, 177);
    font-family: 'Source Sans Pro', sans-serif;
}
.influencer-options_influencer .delete_influencer,.edit_influencer{
    background-color: transparent;
    border: none;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: capitalize;
}
.influencer-options_influencer .view_influencer{
    background-color: transparent;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    border: none;    
    background-color: #fafafa;
    text-transform: capitalize;
}

#view{
    border: 1px solid rgb(164,139,248);
}