
.container_menu_menu .boomlet_icon{
    width: 4rem;
    height: 0.8rem;
    margin: 0  auto 0 1.5rem;
    top: 1rem;
    /* border: 2px solid black; */
}
.container_menu_menu .menu{
    width: 0.8rem;
    height: 1rem;
    /* border: 2px solid black; */
}
#menu_button{
    color: blue;
}
.container_menu_menu{
    height: 100vh;
    width: 13vw;
    top: 1rem;
    float: left;
    margin-left: 10rem;
    position: fixed;
}
.sidebar{
    text-align: center;
    display: flex;
    margin: 1.5rem 0 0 0rem;
    cursor: pointer;
    /* border: 2px solid black; */
}
.sidebar p{
    margin: 0 0 0 0.5rem;
    text-transform: capitalize;
    padding: 3px 0 2px 0;
    /* border: 2px solid black; */
}
.sidebar #inactive{
    font-size: 1.1rem;
    color: #acabab;
    margin-top: 0.2rem;
}
#active{
    color: blue;
    padding-top: 0.2rem;
    /* border: 2px solid black; */
}
#active i{
    color: blue;
    margin-top: 0.2rem;
    /* border: 2px solid black; */
}